

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    outline: 0;
}
body{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#292924 ;
   


}

.container{
    margin-top: 5%;
    width: 90%;
    height: 200%;
    display: flex;
    background-color:#f1f1f1;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px rbga(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 600px;
    padding: auto;
    margin-bottom: 1%;
}
img{
    width: auto;
    height:  auto;
    display: flex;
    background-color: none;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 20px;
    resize: horizontal;
    max-width: 100%;
    max-height:100% ;
    border-radius: 5%;

}
.form-logo{
    width: auto;
    height:  auto;
    display: flex;
    background-color: none;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 20px;
    max-width: 70%;
    max-height:30% ;
   
}
.form{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:#f1f1f1;
    position: relative;
}
.form-header{
    margin-bottom: 3rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

}
.form-header h1{
    align-items: center;
}
.login-button{
    display: flex;
    align-items: center;

}
 .login-button button{
        width: 70px;
        height: 30px;
        border: none;
        background-color: #8412a0;
        border-radius: 5px;
        padding: 0.4rem, 1rem;
        cursor: pointer;
}
.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #f1f1f1;
}
.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #eb54031c;
    width: 200px;
    background-color:#242629;
    
} 
.input-box input:hover{
    background-color: #838282;
}
.input-box input:focus-visible{
    outline: 1px solid #242629;
}
.continue-button{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    
    
}
.continue-button button{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 0.4rem, 1rem;
    cursor: pointer;
    background-color: #ebab29;
}
.continue-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #f1f1f1;
}


@media (max-width: 600px){
    .input-box input{
        margin: 0.6rem 0;
        padding: 0.8rem 1.2rem;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 6px #eb54031c;
        width: auto;
        justify-content: center;
        align-items: center;
        background-color:#242629;
        max-width: 180%;
        resize: horizontal;
        
    } 
    .form{
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color:#f1f1f1;
        position: relative;
    }
    .form-header{
        margin-bottom: 3rem ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2%;
        font-size: 120%;
    
    }
    .input-box{
        display: flex;
        flex-direction: column;
        margin-bottom: 1.1rem;
        align-items: left;
        
        width: 120%;
        max-width: 200%;
        
    }
    .container{
        margin-top: 10%;
        width: 90%;
        height: 200%;
        display: flex;
        background-color:#f1f1f1;
        margin-bottom: 10%;
    }
    
}
