* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  image-rendering: "https://img.freepik.com/fotos-premium/gradiente-de-tom-pastel-rosa-azul-roxo-desfocado-foto-abstrata-linhas-suaves-pantone-cor-de-fundo_49683-4059.jpg";
  display: block;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.ContainerEsquerdo {
  background: rgb(36, 38, 41);
  width: 35%;
  height: 100%;
}

img {
  align-items: center;
  display: grid;
  width: auto;
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.ilustracao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ilustracao span {
  margin-top: 5%;

  color: #f1f1f1;

  font-size: 10rem;
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 200, "opsz" 48;
}

.mensagem {
  margin-top: 5%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  color: #ffd86d;
  text-align: center;
  font-size: 1.3rem;
}

.divisao {
  margin-top: 5%;
  width: 85%;

  border: 1px solid #f1f1f1;
  opacity: 0.1;
  margin-left: auto;
  margin-right: auto;
}

.ContainerDireito {
  background-image: linear-gradient(to bottom,
      rgba(153, 126, 51, 0.75),
      rgba(36, 38, 41) 90%),
    url("../public/images/series-624x454.jpg");
  width: 65%;
  height: 100%;
  flex-direction: column;
}

.wrapper-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 6vh;
}

.wrapper-buttons span {
  font-size: 2.5rem;
  color: #ffd86d;
  font-weight: 700;
}

button {
  cursor: pointer;
  text-align: center;
  font-size: 2.5rem;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  color: #f1f1f1;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 1rem;
  border-color: transparent;
}

button:hover {
  transition: all 0.3s;
}

.btnEntrar {
  width: 20rem;
  height: 3.8rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 7.5rem;
  border: 4px solid #ffd86d;
  color: #ffd86d;
  text-decoration: none;
  font-size: 25px;
  border-radius: 15px;
  text-align: center;
  padding-top: 15px;
}

.btnEntrar:hover {
  background-color: #242629;
  color: #ffd86d;
  border: 2px solid #ffd86d;
}

.btnCadastrar {
  width: 35rem;
  height: 3.8rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  background-color: transparent;
  color: #f1f1f1;
  border: 4px solid #f1f1f1;
  text-decoration: none;
  font-size: 25px;
  border-radius: 15px;
  text-align: center;
  padding-top: 15px;
}

.btnCadastrar:hover {
  background-color: #ffd86d;
  color: #242629;
  border: 4px solid #242629;
}





span {
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 25px;
  color: #f1f1f1;
}

@media screen and (max-width: 400px) {
  .container {
    display: block;
    width: 100%;
    height: 100%;
  }

  .ContainerDireito {
    width: 100%;
    height: 55%;
  }

  .ContainerEsquerdo {
    width: 100%;
    height: 45%;
  }

  .logo img {
    width: 100px;
    height: 100px;
  }
  .mensagem{
      width: 20px;
    height: 20px;
    font-size: 10px;
  }

  .ContainerDireito .wrapper-buttons {
    width: 20px;
    height: 20px;
  }
}