:root {
  --primary-color: #ffd86d;
  --secondary-color: #242629;
  --tertiary-color: #f1f1f1;
  --shadow: #363636;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  /* height: 100vh;
width: 100vw; */
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 5vh 35vh 60vh;
  grid-template-areas:
    "side head"
    "side content"
    "side content";
}

/* Estilização do header */

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  grid-area: head;
}

header ul {
  display: flex;
  justify-content: space-around;

  height: 100%;
}

header ul li {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 10rem;
  font-weight: 700;
  font-size: 1.1rem;
}

header ul li a {
  text-decoration: none !important;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  color: var(--secondary-color);
  border-bottom: solid 5px var(--secondary-color);
}

header ul li a:hover {
  transition: all 0.3s;
  background-color: var(--secondary-color);
  color: var(--primary-color);

  border-bottom: solid 5px var(--tertiary-color);
}

/*------------------------- */

/* Estilização do side menu */
.side-menu {
  border-right: solid 2px var(--primary-color);
  grid-area: side;
}

.side-menu .user-bar {
  background-color: var(--secondary-color);
  color: var(--secondary-color);
  height: 5vh;
  display: flex;

  color: var(--tertiary-color);
  justify-content: center;
}
.side-menu .user-bar .user-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  font-size: 1.1rem;
}

.side-menu .user-bar .user-wrapper .circle-user {
  background-color: var(--tertiary-color);
  color: var(--tertiary-color);
  display: inline-block;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-menu .user-bar .user-wrapper .circle-user:hover {
  transition: all 0.3s;
  background-color: var(--primary-color);
}
.side-menu .user-bar .user-wrapper .nickname {
  height: 40px;
  font-weight: 700;
  display: flex;
  align-items: end;
}

.side-menu .user-bar .settings {
  font-size: 1.4rem;
  cursor: pointer;
}

.side-menu .user-bar .settings:hover {
  transition: all 0.3s;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.side-menu .user-bar .circle-user img {
  cursor: pointer;
  height: 90%;
  width: 90%;
}

.side-menu .user-bar .circle-user img:hover {
  transition: all 0.3s;
  opacity: 0.8;
}

/* ------------------- */

/* Estilização side menu listas */

.side-bar-items {
  /* background-color: rgb(98, 122, 99); */
  height: 95%;
  display: flex;
  flex-direction: column;
  /* gap: 15vh; */
  justify-content: space-evenly;
  align-items: center;
}

.side-bar-items img {
  width: 4vw;
  
}

.side-bar-items .side-bar-item {
  /* background-color: rgb(41, 41, 18); */
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
}

.side-bar-items .side-bar-item:hover {
  transition: all 0.3s;
  background-color: var(--shadow);
}

.side-bar-items .side-bar-item .item-text {
  font-size: 1.2rem;
}

.side-bar-items .side-bar-item .material-icons,
.material-symbols-outlined {
  font-size: 2.5rem;
}
.side-bar-items .side-bar-items-title {
  font-size: 2rem;
  text-align: center;
  /* border-bottom: solid 1px var(--primary-color); */

  color: var(--tertiary-color);
}

hr {
  border: 1px solid var(--tertiary-color);
  opacity: 0.2;
  width: 70%;
  margin-top: -4vh;
}

#recomend {
  color: lightgreen;
}
#watched {
  color: rgb(0, 157, 255);
}
#wish {
  color: yellow;
}
#dislike {
  color: red;
}

#checked {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
#checked #recomend,
#checked #watched,
#checked #wish,
#checked #dislike {
  color: var(--secondary-color);
}

/* ------------------- */

main {
  background-image: linear-gradient(
      to bottom,
      rgba(36, 38, 41, 0.90) 85%,
      rgba(153, 126, 51, 0.60) 99%
    ),
    url("../../../public/images/series-624x454.jpg");
  grid-area: content;
  /* display: grid; */
  /* grid-template-areas:
    "visual"
    "mainContent"; */
    height: 100%;
}

main .visual {
  display: flex;
  justify-content: center;
  align-items: center;
  /* grid-area: visual; */
  height: 30vh;
  /* background-color: #ffd86d; */
}

main .visual img {
  height: 25vh;
}

main .main-content {
  /* grid-area: mainContent; */
  margin-top: 40vh;
}
